@import url('../css/style.css');

/* ============ STYLING FOR P.DETAILZ ============ */

body{
    background: var(--light-sagegreen);
    padding-left: 3rem;
    padding-right: 20rem;
}

.project-detailz{
    padding: 2rem;
    background: var(--light-sagegreen);
}

.project-detailz .btn{
    margin-bottom: 1rem;
}

.project-detailz img{
    width: 50%;
    height: auto;
    display: block;
}

.project-detailz p{
    font-weight: 500;
    margin-top: 3rem;
    font-size: 2rem;
    text-align: justify;
    text-transform: none;
}


/* ============ LAYOUT SIZING ============ */

@media (max-width: 768px) {
    body {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .project-detailz img {
        width: 90%;
    }

    .project-detailz p {
        font-size: 1.5rem;
    }
}
