/* ============ COLOR ROOTS =========== */

:root{
    --normz-sagegreen: #88b58f;
    --light-sagegreen: #e9f0ea;
    --light2-sagegreen: #a1c29f;
    --dark-sagegreen: #649167;
    --dark2-sagegreen: #4d704f;
    --dark-greyishh: #222;
    --light-greyish: #666;
    --whiteezz: #fff;
}


/* ============ FONTSS ============ */

*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    line-height: 1.5;
}
 

/* ============ CONTENTS ============ */

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    background: var(--light-sagegreen);
    padding-left: 30rem;
}

section{
    padding: 1rem 5%;
    min-height: 100vh;
}

.heading{
    font-size: 4rem;
    padding-bottom: 1rem;
    color: var(--dark-greyishh);
    text-transform: uppercase;
}

.heading span{
    color: var(--dark-sagegreen);
    text-transform: uppercase;
}

.heading2{
    font-size: 2.4rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    color: var(--dark-greyishh);
    text-transform: uppercase;
}

.heading2 span{
    color: var(--dark-sagegreen);
    text-transform: uppercase;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: .8rem 3rem;
    background: var(--dark-sagegreen);
    color: var(--whiteezz);
    cursor: pointer;
    font-size: 1.7rem;
    transition: color 0.3s ease, letter-spacing 0.3s ease;
}

.btn:hover{
    background: var(--dark-greyishh);
    letter-spacing: 0.2rem;
}


/* ============ FADE ANIMATIONZNZZN ============ */

.fadezz {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.7s ease-out, transform 0.7s ease-out;
}

.fadezz.visible {
    opacity: 1;
    transform: translateY(0);
}


/* ============ SIDE HEADER ============ */

header{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: var(--dark-greyishh);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    flex-flow: column;
    padding: 8rem 3rem;
    width: 30rem;
    text-align: center;
}

header .logo{
    text-transform: uppercase;
    color: var(--whiteezz);
    font-size: 3rem;
    font-weight: bolder;
}

header .logo span{
    text-transform: uppercase;
    color: var(--dark-sagegreen);
}

header .navbarzz a{
    display: block;
    font-size: 2rem;
    color: var(--whiteezz);
    margin: 2rem 0;
}

header .navbarzz a:hover{
    letter-spacing: .2rem;
    color: var(--normz-sagegreen);
}

header .followzz a{
    font-size: 2.5rem;
    color: var(--whiteezz);
    margin: 0.7rem;
}

header .followzz a:hover{
    color: var(--normz-sagegreen);
}

#menu-barz{
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 10000;
    background: var(--normz-sagegreen);
    color: var(--whiteezz);
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    font-size: 3rem;
    cursor: pointer;
    display: none;
}


/* ============ HOME ============ */

.home{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.home .imagez{
    flex: 1 1 40rem;
}

.home .imagez img{
    width: 100%;
}

.home .contentz{
    flex: 1 1 40rem;
}

.home .contentz .introw{
    font-size: 2rem;
    color: var(--dark-sagegreen);
}

.home .contentz h3{
    font-size: 3.4rem;
    color: var(--dark-greyishh);
    text-transform: uppercase;
}

.home .contentz h3 span{
    color: var(--dark-sagegreen);
    text-transform: uppercase;
}

.home .contentz .infoz{
    font-size: 2.5rem;
    color: var(--dark-greyishh);
    padding: 0.5rem 0;
}

.home .contentz .texts{
    font-size: 1.7rem;
    color: var(--light-greyish);
    padding: 0.5rem 0;
}

/* ============ ABOUT ============ */

.about .firstRow{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-bottom: 2rem;
}

.about .firstRow .imagez{
    flex: 1 1 25rem;
}

.about .firstRow .imagez img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
}

.about .firstRow .contentz{
    flex: 1 1 50rem;
}

.about .firstRow .contentz h3{
    color: var(--dark-greyishh);
    font-size: 3.5rem;
}

.about .firstRow .contentz p{
    color: var(--light-greyish);
    font-size: 1.5rem;
    padding: 0.5rem 0;
}

.about .firstRow .contentz .box-containerz{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 0.5rem 0;
}

.about .firstRow .contentz .box-containerz .boxx{
    flex: 1 1 20rem;
}

.about .firstRow .contentz .box-containerz .boxx span{
    color: var(--dark2-sagegreen);
    font-weight: 700;
}


/* ============ EXPERIENCES ============ */

.experiences .box-containerz{
    display: flex;
    flex-wrap: wrap;
}

.experiences .box-containerz .boxx{
    position: relative;
    flex: 1 1 45%;
    border-left: 0.2rem solid var(--normz-sagegreen);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}

.experiences .box-containerz .boxx:before{
    content: '';
    position: absolute;
    top: 0;
    left: -1rem;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background: var(--normz-sagegreen);
}

.experiences .box-containerz .boxx .contentz{
    background: var(--whiteezz);
    padding: 1.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
    border-radius: 0.5rem;
}

.experiences .box-containerz .boxx .contentz span{
    color: var(--whiteezz);
    font-size: 1.7rem;
    background-color: var(--dark-sagegreen);
    border-radius: 50rem;
    padding: 0.4rem 1rem;
}

.experiences .box-containerz .boxx .contentz h3{
    font-size: 2.5rem;
    padding: 0.5rem 0;
    color: var(--dark-greyishh);
}

.experiences .box-containerz .boxx .contentz p{
    font-size: 1.5rem;
    color: var(--light-greyishh);
}


/* ============ PROJECTS ============ */

.projects .box-containerz{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.projects .box-containerz .boxx{
    flex: 1 1 30rem;
    height: 25rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
    border: 1rem solid var(--whiteezz);
    background: var(--light2-sagegreen);
    border-radius: 0.5rem;
}

.projects .box-containerz .boxx img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
    position: relative;
    z-index: 1; 
}

.projects .box-containerz .boxx:hover img{
    height: 80%;
    width: 80%;
}

.projects .box-containerz .boxx h3{
    position: absolute;
    bottom: 0.5rem;
    left: 1rem;
    font-size: 2.5rem;
    color: var(--dark-greyishh);
    text-transform: uppercase;
}

.projects .box-containerz .boxx .iconz{
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.projects .box-containerz .boxx .iconz a{
    display: block;
    height: 4rem;
    width: 4rem;
    border-radius: 0.5rem;
    background: var(--whiteezz);
    color: var(--dark-greyishh);
    font-size: 1.7rem;
    line-height: 4rem;
    text-align: center;
    margin-bottom: 1rem;
}

.projects .box-containerz .boxx .iconz a:hover{
    background: var(--dark-sagegreen);
    color: var(--whiteezz);
}


/* ============ CONTACTS ============ */

.contact .icons-containerz{
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    padding-bottom: 2rem;
}

.contact .icons-containerz .iconz{
    flex: 1 1 25rem;
    text-align: center;
    padding: 2rem;
    background: var(--whiteezz);
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
    border-radius: 0.5rem;
}

.contact .icons-containerz .iconz i{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    background: var(--normz-sagegreen);
    color: var(--whiteezz);
    border-radius: 50%;
}

.contact .icons-containerz .iconz h3{
    color: var(--dark-greyishh);
    font-size: 2rem;
    padding: 0.5rem 0;
}

.contact .icons-containerz .iconsz p{
    color: var(--light-greyish);
    font-size: 21.7em;
    padding: 0.5rem 0;
}

.contact .rowz .mapz{
    flex: 1 1 25rem;
    border: 1rem solid var(--dark2-sagegreen);
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
    border-radius: 0.5rem;
    width: 100%;
    min-height: 400px;
    height: 100%;
}


/* ============ LAYOUT SIZING ============ */

@media (max-width: 991px){
    html{
        font-size: 55%;
        overflow-x: hidden;
        scroll-behavior: smooth;
    }

    body{
        padding: 0px;
    }

    #menu-barz{
        display: initial;
    }

    header{
        left: -120%;
    }

    header.active{
        left: 0%;
    }
}

@media (max-width: 450px){
    html{
        font-size: 50%;
    }

    header{
        left: 100%;
    }

    .experiences .box-containerz .boxx{
        padding-right: 0;
    }
}



